form {
    background-color: #fff;
    border-radius: 10px;
    padding: 48px;
}

html, body {
    background: blue;
    font-family: 'Courier New', Courier, monospace;
}

button {
    color:#fff;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: blue;
}